{% load static %}
<!doctype html>
<html lang="en">
  	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>	
			<link rel="stylesheet" href="{% static 'css/result.css' %}" >
			<title>Search Concept Navigator</title>
  	</head>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.10/d3.min.js"></script>
		<script src="d3.min.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="radial-tree.css">
	 <body>
	 	<script>
			$('#firstNav a').click(e => {
				e.preventDefault();
			$(this).tab('show');
				});
  	</script>
	 	<div id="wrapper">
		  	<header style="background-color:lightblue ">
		  		<div class="container">
			  		<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<a class="navbar-brand" href="/index/">SearchNavi</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span></button>
					  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
						    <ul class="navbar-nav mr-auto">
						      <li class="nav-item active">
						        <a class="nav-link" href="/index/">Home Page<span class="sr-only">(current)</span></a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="/searchtree/">Search Tree</a>
						      </li>
						          
						    </ul>  
					    </div>
					    
					</nav>
					<form action="{% url 'solr:resultset' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input type="queryBox" name="query" class="form-control" id="querytxt" placeholder="Enter Your Query">
        
        <br>
          <center> <button type="submit" class="button">Search</button></center>
      </div>
    </form>
						
				</div>
		  	</header>
            
		  	<div class="container" style="min-height: 900px;padding: 15px 15px 15px 15px">
		  		<div class="row">
			  		<div class="col-md-8">
								
            <div id="result"> <script  type="text/javascript" src="{% static 'js/result2.js' %}"></script> </div> 
								
			  		</div>
			  		<div class="col-md-4" style="background-color:lightgrey;border: 1px solid black ">
			  			<h4>Categories</h4>
			  			<ul>
			  				<li><a href="#">Python</a></li>
			  				<li><a href="#">C</a></li>
			  				<li><a href="#">R</a></li>
			  				<li><a href="#">Django</a></li>
			  				<li><a href="#">Fonts</a></li>

			  			</ul>
			  		</div>
			  	</div>
		    </div>
			

		  	<footer class="container-fluid text-center" style="background-color:#28a745">
			  <h4>Muğla Sıtkı Koçman Üniversitesi Bilgisiyar Mühendisliği</h4>
			  <h5>Demo of SearchNavi</h5>
			</footer>
		</div>
	</body>
</html>
